@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-THIN.TTF') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-THINITALIC.TTF') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-LIGHT.TTF') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-LIGHTITALIC.TTF') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-REGULAR.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-REGULARITALIC.TTF') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-MEDIUMITALIC.TTF') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-SEMIBOLD.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-SEMIBOLDITALIC.TTF') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-BOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-BOLDITALIC.TTF') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-BLACK.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gelion;
  src: url('../fonts/Gelion/GELION-BLACKITALIC.TTF') format('truetype');
  font-weight: 900;
  font-style: italic;
}
